{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}

<!-- Lesson List Section -->
<section class="container my-5">
    <div class="shadow-lg p-5 bg-body rounded row about-us-contaiiner">
        <h2 class="h-text text-center mb-5">Category List</h2>
        <div class="row professional-instructors">
            {% for category in category_list %}
            <div class="shadow-lg p-5 my-2 bg-body rounded about-us-contaiiner col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 course-box mb-4">
                <h2 class="course-text text-center "><a href="{% url 'course_app:edit_category_for_admin' pk=category.pk %}" target="_blank">{{ category.title }}</a></h2>
            </div>
            {% endfor %}
        </div>
    </div>    
</section>
{% endblock %}