{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
<section class="container my-5 shadow-lg p-5 form">
    {% if registered %}
    <div class="alert alert-success" role="alert">
        Account Created Successfully! <a href="{% url 'auth_app:login' %}">Login</a>
    </div>

    {% else %}
    <form method="POST" enctype="multipart/form-data">
        <h2 class="h-text text-center mb-5">Sign Up</h2>
        {{ form|crispy }}
        {% csrf_token %}
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-success" type="submit">Sign Up</button>
        </div>
    </form>
    {% endif %}
</section>
{% endblock %}